* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






    ul {
   background-color: red; 
   color: aliceblue;
    }

    ol {
   background-color: rgb(255, 0, 157); 
   color: aliceblue;
    }

li {
    font-size: 60px;
    gap: 30px;
}


